body {
    font-family: 'Georgia', serif;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #4B2D00; /* Couleur brune pour le texte principal */
    margin-bottom: 20px;
}

#menu {
    margin: 50px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #8B5A2B; /* Brun clair pour le fond des boutons */
    color: #ffffff; /* Couleur blanche pour le texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6F4D3E; /* Brun plus foncé au survol */
}

.output {
    background-color: #fff; /* Couleur blanche pour la console de jeu */
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    height: 200px;
    overflow-y: scroll;
    color: #333; /* Couleur sombre pour le texte */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#officiers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap; /* Permet de gérer les espaces restants */
}

#officiers div {
    background-color: #fff; /* Blanc pour le fond des officiers */
    border: 2px solid #4B2D00; /* Bordure brune */
    border-radius: 8px;
    padding: 10px;
    width: 200px; /* Largeur fixe pour chaque officier */
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#officiers img {
    border-radius: 50%; /* Bordures arrondies pour les images */
    margin-bottom: 10px;
}
